TeamsBotApi/bin/Debug/net8.0/appsettings.Development.json
TeamsBotApi/bin/Debug/net8.0/appsettings.json
TeamsBotApi/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
TeamsBotApi/bin/Debug/net8.0/Microsoft.Bot.Builder.dll
TeamsBotApi/bin/Debug/net8.0/Microsoft.Bot.Builder.Integration.AspNet.Core.dll
TeamsBotApi/bin/Debug/net8.0/Microsoft.Bot.Configuration.dll
TeamsBotApi/bin/Debug/net8.0/Microsoft.Bot.Connector.dll
TeamsBotApi/bin/Debug/net8.0/Microsoft.Bot.Connector.Streaming.dll
TeamsBotApi/bin/Debug/net8.0/Microsoft.Bot.Schema.dll
TeamsBotApi/bin/Debug/net8.0/Microsoft.Bot.Streaming.dll
TeamsBotApi/bin/Debug/net8.0/Microsoft.Identity.Client.dll
TeamsBotApi/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
TeamsBotApi/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
TeamsBotApi/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
TeamsBotApi/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
TeamsBotApi/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
TeamsBotApi/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
TeamsBotApi/bin/Debug/net8.0/Microsoft.OpenApi.dll
TeamsBotApi/bin/Debug/net8.0/Microsoft.Rest.ClientRuntime.dll
TeamsBotApi/bin/Debug/net8.0/Newtonsoft.Json.dll
TeamsBotApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
TeamsBotApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
TeamsBotApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
TeamsBotApi/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
TeamsBotApi/bin/Debug/net8.0/TeamsBotApi.deps.json
TeamsBotApi/bin/Debug/net8.0/TeamsBotApi.dll
TeamsBotApi/bin/Debug/net8.0/TeamsBotApi.exe
TeamsBotApi/bin/Debug/net8.0/TeamsBotApi.pdb
TeamsBotApi/bin/Debug/net8.0/TeamsBotApi.runtimeconfig.json
TeamsBotApi/bin/Debug/net8.0/Data/Templates/PersonalTemplate.json
TeamsBotApi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
TeamsBotApi/obj/Debug/net8.0/apphost.exe
TeamsBotApi/obj/Debug/net8.0/staticwebassets.build.json
TeamsBotApi/obj/Debug/net8.0/TeamsBot.58474C47.Up2Date
TeamsBotApi/obj/Debug/net8.0/TeamsBotApi.AssemblyInfo.cs
TeamsBotApi/obj/Debug/net8.0/TeamsBotApi.AssemblyInfoInputs.cache
TeamsBotApi/obj/Debug/net8.0/TeamsBotApi.assets.cache
TeamsBotApi/obj/Debug/net8.0/TeamsBotApi.csproj.AssemblyReference.cache
TeamsBotApi/obj/Debug/net8.0/TeamsBotApi.csproj.CoreCompileInputs.cache
TeamsBotApi/obj/Debug/net8.0/TeamsBotApi.csproj.FileListAbsolute.txt
TeamsBotApi/obj/Debug/net8.0/TeamsBotApi.dll
TeamsBotApi/obj/Debug/net8.0/TeamsBotApi.GeneratedMSBuildEditorConfig.editorconfig
TeamsBotApi/obj/Debug/net8.0/TeamsBotApi.genruntimeconfig.cache
TeamsBotApi/obj/Debug/net8.0/TeamsBotApi.GlobalUsings.g.cs
TeamsBotApi/obj/Debug/net8.0/TeamsBotApi.MvcApplicationPartsAssemblyInfo.cache
TeamsBotApi/obj/Debug/net8.0/TeamsBotApi.MvcApplicationPartsAssemblyInfo.cs
TeamsBotApi/obj/Debug/net8.0/TeamsBotApi.pdb
TeamsBotApi/obj/Debug/net8.0/ref/TeamsBotApi.dll
TeamsBotApi/obj/Debug/net8.0/refint/TeamsBotApi.dll
TeamsBotApi/obj/Debug/net8.0/staticwebassets/msbuild.build.TeamsBotApi.props
TeamsBotApi/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.TeamsBotApi.props
TeamsBotApi/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.TeamsBotApi.props
TeamsBotApi/obj/project.assets.json
TeamsBotApi/obj/project.nuget.cache
TeamsBotApi/obj/TeamsBotApi.csproj.nuget.dgspec.json
TeamsBotApi/obj/TeamsBotApi.csproj.nuget.g.props
TeamsBotApi/obj/TeamsBotApi.csproj.nuget.g.targets
